{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block body%}
{% if messages%}
{% for m in messages%}

<div   style="background-color: rgb(52, 99, 162); margin:auto;padding:2%; height: 40px; width:300px;border:9px" >
 
 <div style="color: rgb(255, 255, 255);">
  
     {{m}}
 </div >
</div >
{% endfor%}
{% endif%}
 

 <form method="post" style="width: 70%; margin:auto; padding:3%" novalidate>
     <!-- {{form|crispy}} -->
      {% csrf_token%}
      <h1>PassChange page</h1>
     {% for fm in form%}
     {{fm.label_tag}}
     {{fm}}
     {{fm.errors}}
     {% endfor %} <br>
     <div class="d-grid gap-2 col-6 mx-auto">
        <button style="align-items: center;" type="submit" class="btn btn-warning ">Change Password</button>
     <small>You have go to <a href="{% url 'singup'%}">Singup</a> </small>
     </div>
 </form>

{% endblock%}